<div class="media w-50 mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Robot_icon.svg/48px-Robot_icon.svg.png" alt="user" width="48">
    <div class="media-body ml-3">
        <div class="bg-light rounded py-2 px-3 mb-2">
            {#            <p class="text-small mb-0 text-muted">Bonjour, je suis GrandPyBot, que puis-je faire pour t'aider ?</p>#}
            <p class="text-small mb-0 text-muted">
                {% block content %}{% endblock %}
            </p>
        </div>
    </div>
</div>
